<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include of style sheets and meta markups -->
    <% include ../assets/static/html/head %>
    <link rel="stylesheet" type="text/css" href="/assets/apps/LogIn/css/login.css">
    <title>LogIn | FILMS</title>
</head>

<body>

    <body>
        <div class="container">
            <div class="card card-container">
                <img id="profile-img" class="profile-img-card" src="/assets/static/images/avatar-user.png" />
                <p id="profile-name" class="profile-name-card"></p>
                <form action="/LogIn" method="POST" class="form-signin">
                    <span id="reauth-username" class="reauth-username"></span>
                    <input type="text" id="txtUsername" name="userName" maxlength="8" class="form-control" placeholder="Username" required autofocus>
                    <input type="password" id="txtPassword" name="password" class="form-control" placeholder="Password" required>
                    <div id="remember" class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <input type="submit" value="LogIn" class="btn btn-lg btn-primary btn-block btn-signin" />
                </form>
                <a href="#" class="forgot-password">
                    Forgot the password?
                </a>
                <%if (error !== "") { %>
                    <div id="divError" class="alert alert-danger alert-dismissable" style="display: block;">
                        <span><%= error %></span>
                    </div>
                <% } %>
            </div>
        </div>

        <!-- Include of scripts -->
        <% include ../assets/static/html/footer %>

    </body>

</html>