<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Include of style sheets and meta markups -->
    <% include ../assets/static/html/head %>

    <link rel="stylesheet" type="text/css" href="/assets/apps/Films/css/films.css">

    <title>
        <%= Page["titleTab"] %> | FILMS</title>
</head>

<body>


    <div class="wrapper">
        <!--Include of sidebar  -->
        <% include ../assets/static/html/sidebar %>

        <!-- Page Content  -->
        <div id="content">

            <!-- Include navbar -->
            <% include ../assets/static/html/navbar %>

            <!-- Include Dashboard -->
            <% if (Page["titleTab"] === "Dashboard") { %>
            <% include ../assets/apps/Films/html/films %>
            <% } %>

            <!-- Include AddFilm -->
            <% if (Page["titleTab"] === "Add Film") { %>
            <% include ../assets/apps/Films/html/addfilm %>
            <% } %>

            <!-- Include ViewFilm -->
            <% if (Page["titleTab"] === "View Film") { %>
            <% include ../assets/apps/Films/html/viewfilm %>
            <% } %>

            <!-- Include DeleteFilm -->
            <% if (Page["titleTab"] === "Delete Film") { %>
            <% include ../assets/apps/Films/html/deletefilm %>
            <% } %>

            <!-- Include EditFilm -->
            <% if (Page["titleTab"] === "Edit Film") { %>
            <% include ../assets/apps/Films/html/editfilm %>
            <% } %>

        </div>
    </div>


    <!-- Include Modals -->
    <% include ../assets/static/html/modals %>

    <!-- Include of scripts -->
    <% include ../assets/static/html/footer %>

</body>

</html>