<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Toggle Sidebar</span>
        </button>

        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>

        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#" id="aSettings" title="Settings" data-placement="top"><span class="fas fa-cog"></span></a>
                <div class="dropdown-menu" id="dropownSettings">
                    <a class="dropdown-item" href="/Change Password">Change Password</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <%= Page["userNameLogged"] %>
                </a>
                <div class="dropdown-menu" id="dropdownUser">
                    <a class="dropdown-item" href="/LogOut">LogOut</a>
                </div>
            </li>
        </ul>
    </div>
</nav>