<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
        </button>

        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle menuText" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#" >
                    <span class="fas fa-cog"></span>
                </a>

                <div class="dropdown-menu" id="dropownSettings">
                    <a class="dropdown-item" href="/ChangePassword" data-target="#changePasswordModal" data-toggle="modal"><span class="fas fa-lock"></span> Change Password</a>
                    <a class="dropdown-item" href="/ChangeLanguage"><span class="fas fa-language"></span> Change Language</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle menuText" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <%= Page["userNameLogged"] %>
                </a>
                <div class="dropdown-menu" id="dropdownUser">
                    <a class="dropdown-item" href="/LogOut">LogOut</a>
                </div>
            </li>
        </ul>
    </div>
</nav>