<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Films System</h3>
        <strong>FS</strong>
    </div>

    <ul class="list-unstyled components">
        <% if (Page["sidebarClass"] == "Home") { %>
        <li class="active">
        <% } else { %>
        <li>
        <% } %>
            <a href="/Films">
                <i class="fas fa-home"></i>
                Home
            </a>
        </li>
        <% if (Page["sidebarClass"] == "AddFilm" || Page["sidebarClass"] == "DeleteFilm" || Page["sidebarClass"] == "ModifyFilm" || Page["sidebarClass"] == "ViewFilm") { %>
        <li class="active">
        <% } else { %>
        <li>
        <% } %>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-copy"></i>
                Manage
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <% if (Page["sidebarClass"] == "AddFilm") { %>
                <li class="active">
                <% } else { %>
                <li>
                <% } %>
                    <a href="/AddFilm"><span class="fas fa-plus"></span> Add Film</a>
                </li>

                <% if (Page["sidebarClass"] == "DeleteFilm") { %>
                <li class="active">
                <% } else { %>
                <li>
                <% } %>
                    <a href="/DeleteFilm"><span class="fas fa-trash-alt"></span> Delete Film</a>
                </li>

                <% if (Page["sidebarClass"] == "EditFilm") { %>
                <li class="active">
                <% } else { %>
                <li>
                <% } %>
                    <a href="/EditFilm"><span class="fas fa-edit"></span> Edit Film</a>
                </li>

                <% if (Page["sidebarClass"] == "ViewFilm") { %>
                <li class="active">
                <% } else { %>
                <li>
                <% } %>
                    <a href="/ViewFilm"><span class="fas fa-eye"></span> View Film</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>