<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Films System</h3>
        <strong>FS</strong>
    </div>

    <ul class="list-unstyled components">
        <% if (Page["sidebarClass"] == "Home") { %>
        <li class="active">
        <% } else { %>
        <li>
        <% } %>
            <a href="#">
                <i class="fas fa-home"></i>
                Home
            </a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-copy"></i>
                Manage
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <% if (Page["sidebarClass"] == "AddFilm") { %>
                <li class="active">
                <% } else { %>
                <li>
                <% } %>
                    <a href="#">Add film</a>
                </li>

                <% if (Page["sidebarClass"] == "DeleteFilm") { %>
                <li class="active">
                <% } else { %>
                <li>
                <% } %>
                    <a href="#">Delete film</a>
                </li>

                <% if (Page["sidebarClass"] == "ModifyFilm") { %>
                <li class="active">
                <% } else { %>
                <li>
                <% } %>
                    <a href="#">Modify film</a>
                </li>

                <% if (Page["sidebarClass"] == "ViewFilm") { %>
                <li class="active">
                <% } else { %>
                <li>
                <% } %>
                    <a href="#">View film</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>