<div class="card card-outline-secondary">
    <div class="card-header">
        <h3 class="mb-0"><span class="fas fa-edit"></span> Edit Film <span class='alert <%=Page["AddFilm"]["clas"]%> alert-dismissable ml-5'>
                <%= Page['AddFilm']["messaje"] %></span></h3>
    </div>
    <div class="card-body">
        <form class="form" role="form" autocomplete="off" method="POST" action="/AddFilm">
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label" for="txtFilmName">Film Name</label>
                <div class="col-lg-9">
                    <input class="form-control" type="text" placeholder="Film Name" id="txtFilmName" name="txtFilmName"
                        required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label" for="txtDuration">Duration</label>
                <div class="col-lg-9">
                    <input class="form-control" type="number" min="1" max="1000" id="txtDuration" name="txtDuration"
                        required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label" for="txtMemoryAddress">Memory Address</label>
                <div class="input-group col-lg-9">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input form-control" aria-describedby="txtMemoryAddress" id="txtMemoryAddress" name="txtMemoryAddress" />
                        <label class="custom-file-label" for="txtMemoryAddress">Choose file</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="chbxViewedAddFilm" class="col-lg-3 col-form-label form-control-label">Viewed</label>
                <div class="col-lg-9 form-check">
                    <input class="form-control form-check-input position-static" type="checkbox" id="chbxViewedAddFilm" name="chbxViewedAddFilm" value="1" checked style="box-shadow: none;">
                </div>
            </div>
            <div class="form-group row" id="div-pointsAddFilm">
                <label class="col-lg-3 col-form-label form-control-label" for="txtPoints">Points</label>
                <div class="col-lg-9">
                    <div id="range-slider" class="pt-2">
                        <input id="rangePoints" type="range" value="50" min="0" max="100" name="rangePointsAdd" class="rangePoints"/>
                        <span id="rangePointsValueEdit" class="rangePointsValue">50</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"></label>
                <div class="col-lg-9">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>