<div class="card card-outline-secondary">
    <div class="card-header">
        <h3 class="mb-0"><span class="fas fa-eye"></span> View Film</h3>
    </div>
    <div class="card-body">
        <div class="form-inline mb-4 align-self-end row">
            <input class="col-lg-1 offset-lg-7 form-control" type="checkbox" id="chbxViewed" name="chbxViewed" value="7896541236" style="box-shadow: none;">
            
            <label for="chbxViewed" class="col-form-label form-control-label mr-5">All</label>
            
            <input class="form-control col-lg-2 ml-5 fontAwesome" type="search" placeholder='&#61442; Search' aria-label="Search" id="txtSearchFilm" />
        </div>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr id="trViewFilm">
                    <!-- <th scope="col">Film Name</th>
                    <th scope="col">Film Duration</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Address</th>
                    <th scope="col">Viewed Date</th> -->
                </tr>
            </thead>
            <tbody id="tbodyViewFilm" class="tbody-stripped">

            </tbody>
        </table>
    </div>
</div>