<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include of style sheets and meta markups -->
    <% include ../assets/static/html/head %>
    <title>Forgot Password | FILMS</title>
</head>

<body>

    <div class="container py-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <span class="anchor" id="formResetPassword"></span>
                <hr class="mb-5">

                <div class="card card-outline-secondary">
                    <div class="card-header">
                        <h3 class="mb-0">Password Reset</h3>
                    </div>
                    <div class="card-body">
                        <form class="form" role="form" autocomplete="off" action="/ForgotPassword" method="POST">
                            <div class="form-group">
                                <label for="txtUserEmailReset">Email</label>
                                <input type="email" class="form-control" id="txtUserEmailReset" name="txtUserEmailReset" required>
                                <span id="helpResetPasswordEmail" class="form-text small text-muted">
                                    Password reset instructions will be sent to this email address.
                                </span>
                            </div>

                            <%if (error !== "") { %>
                                <div id="divError" class="alert alert-danger alert-dismissable" style="display: block;">
                                    <span><%= error %></span>
                                </div>
                            <% } %>

                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-lg float-right">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Include of scripts -->
    <% include ../assets/static/html/footer %>

    <style>

    </style>
</body>

</html>