<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="/assets/jquery.js" type="text/javascript"></script>   
    <script src="/assets/bootstrap.js" type="text/javascript"></script>    
    <script src="/assets/ui.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/base.css">
    <title>FILMS</title>
</head>

<body>

    <body>

        <h1>DashBoard SISTEMA</h1>

    </body>

</html>